/*
Color Palette:

#FFFFFF
#00171F
#003459
#007EA7
#00A8E8
 */

html, body {
	height: 100%;
}

body {
	font-family: 'Rubik', sans-serif;
	color: white;
	background: #007EA7;
	background: -webkit-linear-gradient(top left, #007EA7, #003559);
	background: -moz-linear-gradient(top left, #007EA7, #003559);
	background: linear-gradient(to bottom right, #007EA7, #003559);
	background-attachment: fixed;
}

.container {
	position: relative;
	top: 10%;
	transform: translateY(-50%);
}

.styled-select {
	background: white;
	border-radius: 10px;
	color: black;
	border: none;
	padding: 5px;
}

.form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.movie-form {
	text-align: center;
	display: block;
}

.styled-input {
	letter-spacing: 4px;
	padding-top: 30px;
	text-align: center;
	width: 30%;
}

.styled-input .label-text {
	color: #CCCCCC;
	cursor: text;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;
	-moz-transform: translateY(-34px);
	-ms-transform: translateY(-34px);
	-webkit-transform: translateY(-34px);
	transform: translateY(-34px);
	transition: all 0.3s;
}

.styled-input input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #00A8E8;
	color: white;
	font-size: 36px;
	letter-spacing: -1px;
	outline: 0;
	padding: 5px 20px;
	text-align: center;
	transition: all 0.3s;
	width: 200px;
}

.styled-input input:focus {
	max-width: 100%;
	width: 400px;
}

.styled-input input:focus + .label-text {
	color: #F0F0F0;
	font-size: 13px;
	-moz-transform: translateY(-74px);
	-ms-transform: translateY(-74px);
	-webkit-transform: translateY(-74px);
	transform: translateY(-74px);
}

.styled-input input:valid + .label-text {
	font-size: 13px;
	-moz-transform: translateY(-74px);
	-ms-transform: translateY(-74px);
	-webkit-transform: translateY(-74px);
	transform: translateY(-74px);
}

.styled-button {
	background-color: transparent;
	border: 2px solid white;
	border-radius: 27px;
	color: white;
	cursor: pointer;
	font-size: 20px;
	margin-top: 20px;
	padding: 15px 30px;
	text-transform: uppercase;
	transition: all 200ms;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 90%;
}

.styled-button:hover, .styled-button:focus {
	background-color: white;
	color: #333333;
	outline: 0;
}

.autocomplete-container {
	display: flex;
	justify-content: center;
}

.autocomplete-box {
	background: white;
	width: 60%;
	height: 7rem;
	display: inline-flex;
	box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
	color: black;
	padding: 0 10px;
	text-align: initial;
	overflow: hidden;
}

.autocomplete-box:hover {
	background: #cccccc;
	cursor: pointer;
}

.movie-text-container {
	margin-left: 10px;
	text-overflow: ellipsis;
}

.movie-text-container > p:first-of-type {
	font-weight: bold;
}

img.movie-img {
	height: 6rem;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* Castcompare styles */
.show-background {
	width: 50%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(30%) blur(8px);
}

.left {
	float: left;
}

.right {
	float: right;
}

.movie-title {
	font-size: xxx-large;
	font-weight: bold;
	margin-top: 1rem;
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}

.actor-profile {
	width: 128px;
	height: 128px;
	background: black;
	border-radius: 50%;
	border: 5px solid white;
	overflow: hidden;
	text-align: center;
	transition: all .2s ease-in-out;
	margin-left: 10px;
}

.actor-profile:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.actor-profile img {
	width: 100%;
	position: relative;
	height: auto;
	margin-top: -10px;
}

.actor-container {
	margin-top: 2rem;
	display: inline-flex;
	margin: auto;
	margin-top: 20px;
	flex-wrap: wrap;
}

.actor-profile-container {
	letter-spacing: normal;
	text-align: center;
	font-weight: bold;
}

.attribution-text {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 5px;
}

.attribution-text > a {
	color: white;
}

.no-overlapping-cast-message {
	position: absolute;
	letter-spacing: normal;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	font-size: xx-large;
}

.logo {
	width: 20%;
}

.logo-container {
	text-align: center;
}

/* modal styling */
.modal-window {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.50);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
	color: black;
}
.modal-window-open {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}
.modal-window > div {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	background: white;
}
.modal-window header {
	font-weight: bold;
}
.modal-window h1 {
	font-size: 150%;
	margin: 0 0 15px;
}

.modal-close {
	color: #aaa;
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
	cursor: pointer;
}
.modal-close:hover {
	color: black;
}

.modal-window > div {
	border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
	margin-bottom: 15px;
}
