{% import "macros.jinja" as macros %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		{{ macros.metadata("Castify") }}
	</head>
	<body>
		<div id="container" style="width:100%; height: 100%;">
			<div class='show-background left' style='background-image: url("{{photo1}}");'></div>
			<div class='show-background right' style='background-image: url("{{photo2}}");'></div>
			<div style='position: absolute; width: 100%; height: 100%' class='pure-g'>
				<div class='movie-title pure-u-1-2'>{{filmname1}}</div>
				<div class='movie-title pure-u-1-2'>{{filmname2}}</div>
				{% if not cast_intersecion %}
				<div class='no-overlapping-cast-message pure-u-1'>No overlapping cast members</div>
				{% endif %}
				<div class='actor-container'>
					{% for id, actor in cast_intersecion.items() %}
					<div onclick='openModal({{id}})' class='actor-profile-container'>
						<div class='actor-profile' title="{{actor['name']}}">
							<img src="//image.tmdb.org/t/p/original/{{actor['picture']}}" />
						</div>
						<p>{{actor['name']}}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% for id, actor in cast_intersecion.items() %}
		<div id="{{id}}-modal" class="modal-window">
			<div>
				<a onclick="closeModal({{id}})" title="Close" class="modal-close">Close</a>
				<h1>{{actor['name']}}</h1>
				<hr>
				<div style='display: flex;'>
					<div style='width: 50%;'>
						{{filmname1}}
						<ul>
							{% for role in actor['roles_1'] %}
							<li>{{role['character']}}</li>
							{% endfor %}
						</ul>
					</div>
					<div style='width: 50%;'>
						{{filmname2}}
						<ul>
							{% for role in actor['roles_2'] %}
							<li>{{role['character']}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}

		<script>
			function openModal(id) {
				$(`#${id}-modal`).addClass('modal-window-open');
			}

			function closeModal(id) {
				$(`#${id}-modal`).removeClass('modal-window-open');
			}
		</script>
	</body>
</html>
