{% import "macros.jinja" as macros %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		{{ macros.metadata("Castify") }}
	</head>
	<body>
			<div class='logo-container'>
				<img class='logo' src='/static/img/castify_logo_transparent.png' />
			</div>
			<div class='container'>
				<form class='movie-form' autocomplete='off' onsubmit='return false;'>
					<div class='pure-g' style='align-items: center;'>
						<div class='pure-u-1-4'>
							<select data-appearance-order='1' class='styled-select'>
								<option value='movie'>Movie</option>
								<option value='tv'>TV Show</option>
							</select>
						</div>
						<div class='pure-u-1-4' data-appearance-order='1'>
							<label class='styled-input'>
								<input class='title-input' type="text" required />
								<div class="label-text">Movie 1</div>
				 			</label>
							<input type='hidden' name='id' value='' />
						</div>
						<div class='pure-u-1-4' data-appearance-order='2'>
							<label class='styled-input'>
								<input class='title-input' type="text" required />
								<div class="label-text">Movie 2</div>
							</label>
							<input type='hidden' name='id' value='' />
						</div>
						<div class='pure-u-1-4'>
							<select data-appearance-order='2' class='styled-select'>
								<option value='movie'>Movie</option>
								<option value='tv'>TV Show</option>
							</select>
						</div>
					</div>
					<button class='styled-button'>Submit</button>
				</form>
			</div>
			<p class='attribution-text'>Data provided by <a target='_blank' href='//www.themoviedb.org'>TMDB</a></p>
			<script>
				var last_requested_query = '';

				$('.styled-select').on('change', function() {
					var appearance_order = $(this).data('appearance-order');
					var corresponding_input_box = $(`div[data-appearance-order="${appearance_order}"]`).find('.label-text');
					// invalidate id
					$(`div[data-appearance-order="${appearance_order}"]`).find('input[name="id"]').val('');

					if (this.value == 'tv') {
						corresponding_input_box.text(`TV Show ${appearance_order}`);
					} else {
						corresponding_input_box.text(`Movie ${appearance_order}`);
					}
				});

				$('.styled-button').on('click', function() {
					// check if all required fields are filled
					if ($(".title-input").filter(function () { return $.trim($(this).val()).length == 0 }).length != 0) {
						return alert('Please fill out all required fields');
					}
					// construct url
					var url = '/comparecast?';
					var first_input_section = $('div[data-appearance-order="1"]');
					var second_input_section = $('div[data-appearance-order="2"]');

					// first input section
					var id_1 = first_input_section.find('input[name="id"]').val();
					if (id_1 == '') {
						url = url + 'search1=' + encodeURIComponent(first_input_section.find('.title-input').val());
					} else {
						url = url + 'id1=' + id_1;
					}

					url = url + '&';

					// second input section
					var id_2 = second_input_section.find('input[name="id"]').val();
					if (id_2 == '') {
						url = url + 'search2=' + encodeURIComponent(second_input_section.find('.title-input').val());
					} else {
						url = url + 'id2=' + id_2;
					}

					url = url + '&';

					url = url + 'type1=' + $('.styled-select[data-appearance-order="1"]').val() + '&';
					url = url + 'type2=' + $('.styled-select[data-appearance-order="2"]').val();

					window.location.href = url;
				});

				// Returns a function, that, as long as it continues to be invoked, will not
				// be triggered. The function will be called after it stops being called for
				// N milliseconds. If `immediate` is passed, trigger the function on the
				// leading edge, instead of the trailing.
				function debounce(func, wait, immediate) {
					var timeout;
					return function() {
						var context = this, args = arguments;
						var later = function() {
							timeout = null;
							if (!immediate) func.apply(context, args);
						};
						var callNow = immediate && !timeout;
						clearTimeout(timeout);
						timeout = setTimeout(later, wait);
						if (callNow) func.apply(context, args);
					};
				};

				function clearAutocomplete(appearance_order) {
					var input_section = $(`div[data-appearance-order="${appearance_order}"]`)
					input_section.find('.autocomplete-box').remove();
					input_section.css('margin-top', `0rem`);
				}

				$('.title-input').on('keyup', debounce(function() {
					// get type of selected input
					var appearance_order = $(this).closest(`div[data-appearance-order]`).data('appearance-order');
					var selected_input_section = $(`div[data-appearance-order="${appearance_order}"]`);
					var type = $(`.styled-select[data-appearance-order="${appearance_order}"]`).val();
					if (type != 'tv' && type != 'movie') {
						return;
					}

					// invalidate ID
					selected_input_section.find('input[name="id"]').val('');

					// get input value of selected input
					query = this.value;
					if (query == null || query.trim() === '') {
						clearAutocomplete(appearance_order);
						return;
					}

					// dont send another request if text hasn't changed
					if ((appearance_order + type + query) == last_requested_query) {
						return;
					}

					// construct URL
					url = window.location.origin + `/search?type=${type}&query=${encodeURIComponent(query)}`;
					url = '//' + url.split('://')[1]

					console.log(url);

					// store last request
					last_requested_query = appearance_order + type + query;

					// send request to server
					$.ajax({
						'url': url,
						'type': 'GET',
						'success': function(data) {
							console.log(data)
							var results = data['results'].slice(0, 5);
							var amount_of_results = results.length;

							// clear autocomplete
							clearAutocomplete(appearance_order);

							for (var i = 0; i < amount_of_results; i++) {
								// create variables containing metadata
								var poster_url = '//www.themoviedb.org/t/p/w94_and_h141_bestv2/' + results[i]['poster_path'];
								var name = results[i]['original_title'];

								if (name == undefined) {
									name = results[i]['original_name'];
								}

								// if (name.length > 20) {
								// 	name = name.slice(0, 20) + '...';
								// }

								var description = results[i]['overview'];
								// TODO: fix ... wrapping
								// if (description.length > 70) {
								// 	description = description.slice(0, 70) + '...';
								// }

								var id = results[i]['id'];

								// construct element
								var autocomplete_box = document.createElement('div');
								autocomplete_box.className = 'autocomplete-box';
								autocomplete_box.onclick = autocompleteClickCallback;
								autocomplete_box.setAttribute('data-id', id);

								autocomplete_box.innerHTML = `
									<img src='${poster_url}' class='movie-img' />
									<div class='movie-text-container'>
										<p>${name}</p>
										<p>${description}</p>
									</div>
								`

								selected_input_section.append(autocomplete_box);

							}

							// curve top and bottom corners
							$(`div[data-appearance-order="${appearance_order}"] .autocomplete-box`).first().css('border-radius', '10px 10px 0 0');
							$(`div[data-appearance-order="${appearance_order}"] .autocomplete-box`).last().css('border-radius', '0 0 10px 10px');

							// add margin to the top to counteract autocomplete pushing the input up
							var top_margin_amount = 7 * amount_of_results;
							selected_input_section.css('margin-top', `${top_margin_amount}rem`);
						}
					});
				}, 500));

				function autocompleteClickCallback() {
					var appearance_order = $(this).closest(`div[data-appearance-order]`).data('appearance-order');
					var movie_title = $(this).find('.movie-text-container').children('p').first().text();
					var id = $(this).data('id');

					$(`div[data-appearance-order="${appearance_order}"]`).find('input[name="id"]').val(id);
					$(`div[data-appearance-order="${appearance_order}"]`).find('.title-input').val(movie_title);
					clearAutocomplete(appearance_order);
				}
			</script>
	</body>
</html>
