{# Metadata in <head> #}
{% macro metadata(title) %}


	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/png" href="/static/favicon.ico">
	<title>{{title}}</title>

	<!--     Fonts and icons     -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">

	<!-- CSS Files -->
	<link href="/static/css/pure.min.css" rel="stylesheet" />
	<link href="/static/css/stylesheet.css" rel="stylesheet" />

	<!-- javascript -->
	<script src="/static/js/jquery-3.6.0.min.js"></script>
{% endmacro %}
